
    .hidden { 
        display: none;
     }
    .container {
         width: 800px; 
         margin: auto; 
         text-align: center; 
         margin-top: 50px ; 
         background-color: black;
         box-shadow: inset;
        }
    input, button { 
        width: 100%; 
        margin: 10px 0; 
        padding: 10px; 
    }
  
p{
    color: blue;
    cursor: pointer;
    font-size: 17px;
}